body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #FFF3E0;
  color: #333;
  display: flex;
  flex-direction: column;
}

.cart-link {
  color: white;
  position: absolute;
  right: 64px;
  top: 63.5px;
}

#main-header {
  background-color: #ea580c;
  color: white;
  padding: 20px 40px;
  text-align: center;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#main-nav ul li {
  margin: 0 20px;
}

#main-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product {
  width: 250px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.product-img-container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.product-img {
  position: absolute;
  top: 15%;
  right: 50%;
  transform: translateX(50%);
  width: 70%;
  height: 70%;
  mix-blend-mode: multiply;
  object-fit: cover;
}

.product-info {
  padding: 10px;
  text-align: center;
}

.product-name {
  font-size: 14px;
  height: 48px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  margin: 5px 0;
}

.product-pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: baseline;
  margin: 24px 0;
}

.product-price {
  font-size: 22px;
  margin: 0;
  color: #FF4500;
  font-weight: bold;
}

.product-old-price {
  font-size: 14px;
  margin: 0;
  color: #777;
  text-decoration: line-through;
}

.product-delivery {
  font-size: 14px;
  color: #008000;
  margin: 5px 0;
}

.buy-button {
  background-color: #FF4500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #e03c00dd;
}

#main-footer {
  background-color: #71717a;
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 20px 40px;
}

.loader {
  border: 4px solid #d4d4d8;
  border-top: 4px solid #27272a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}